[Desktop Entry]
Type=Application
Name[ar]=سيّناپس
Name[be]=Synapse
Name[bg]=Synapse
Name[ca]=Synapse
Name[ca@valencia]=Synapse
Name[cs]=Synapse
Name[da]=Synapse
Name[de]=Synapse
Name[en_GB]=Synapse
Name[eo]=Synapse
Name[es]=Synapse
Name[et]=Synapse
Name[eu]=Synapse
Name[fi]=Synapse
Name[fr]=Synapse
Name[gl]=Synapse
Name[hr]=Synapse
Name[hu]=Synapse
Name[id]=Synapse
Name[it]=Synapse
Name[ja]=Synapse
Name[ka]=Synapse
Name[ko]=시냅스
Name[la]=Synapsus
Name[lv]=Synapse
Name[ml]=സിനാപ്സ്
Name[nb]=Synapse
Name[nds]=Synapse
Name[ne]=सिन्याप्से
Name[nl]=Synapse
Name[nn]=Synapse
Name[oc]=Synapse
Name[pl]=Synapse
Name[pt_BR]=Synapse
Name[pt]=Synapse
Name[ro]=Synapse
Name[ru]=Synapse
Name[sk]=Synapse
Name[sl]=Synapse
Name[sr]=Синапса
Name[sv]=Synapse
Name[te]=సైనాప్స్
Name[tr]=Synapse
Name[uk]=Synapse
Name[zh_CN]=Synapse
Name=Synapse
Comment[ar]=ابحث في كل شيء تفعله.
Comment[be]=Шукае усё, што вы робіце
Comment[bg]=Търсете всичко, от което се нуждаете.
Comment[ca]=Cerqueu tot allò que feu
Comment[ca@valencia]=Cerqueu tot allò que feu
Comment[cs]=Vyhledává ve všech Vašich činnostech.
Comment[da]=Søg alt du gør.
Comment[de]=Durchsuche all deine Tätigkeiten.
Comment[en_GB]=Search everything you do.
Comment[es]=Busque en todo lo que hace.
Comment[eu]=Egiten duzun guztia bilatu.
Comment[fi]=Etsi kaikesta tekemästäsi.
Comment[fr]=Recherchez tout ce que vous faites.
Comment[gl]=Busque en todo o que vostede faga.
Comment[hr]=Pretražuj sve aktivnosti
Comment[id]=Mencari setiap hal yang Anda lakukan
Comment[it]=Cerca tutto ciò che fai.
Comment[ja]=やることを何でも検索します。
Comment[ka]=მოძებნე ყველაფერი ყველგან
Comment[ko]=원하는 모든 것을 검색합니다.
Comment[ml]=ചെയ്യുന്നതെല്ലാം തെരയുക
Comment[nb]=Søk gjennom alt du foretar deg.
Comment[nds]=Suche nach all deine Aktivitäten.
Comment[ne]=खोजी
Comment[nl]=Doorzoek alles wat u doet.
Comment[nn]=Søk i alt du foretek deg.
Comment[oc]=Recercar tot çò que fasètz.
Comment[pl]=Szukaj czegokolwiek chcesz.
Comment[pt_BR]=Busque em tudo que você faz.
Comment[pt]=Procure tudo aquilo que faz.
Comment[ro]=Cauta orice faci.
Comment[ru]=Искать всё
Comment[sk]=Prehľadáva všetky vaše aktivity.
Comment[sl]=Iščite po vsem, kar delate.
Comment[sr]=Тражи све што радите.
Comment[sv]=Sök allt du gör.
Comment[sw]=Tafuta kila kitu unachofanya
Comment[te]=కావలసినదేదయినా వెతకండి.
Comment[tr]=Yapılan her şeyi ara
Comment[uk]=Пошук всього, що Вам потрібно.
Comment[zh_CN]=搜索你想要的。
Comment[zh_TW]=搜尋所有做過的事。
Comment=Search everything you do.
Exec=synapse
Icon=synapse
Categories=GNOME;Utility;
