[Sunpinyin]
# Use Shuangpin Instead of Quanpin
# Available Value:
# True False
#UseShuangpin=False
# Shuangpin Scheme in Sunpinyin
# Available Value:
# MS2003
# ABC
# ZIRANMA
# PINYINJIAJIA
# ZIGUANG
# XIAOHE
#ShuangpinScheme=MS2003
# Fuzzy Segmentation
# Available Value:
# True False
#FuzzySegmentation=True
# Fuzzy Inner Segmentation
# Available Value:
# True False
#FuzzyInnerSegmentation=False
# Number of sentence that sunpinyin guess
# Available Value:
# 1
# 2
# 3
#MaxBest=1
# Number of Best Tail Candidate
# Available Value:
# 0
# 1
# 2
#MaxTail=0
# Memory Strength
#MemoryStrength=3
# Let sunpinyin process punctuation
# Available Value:
# True False
#ProcessPunc=False

[QuanPin]
# Fuzzy Zhi Zi
# Available Value:
# True False
#FuzzyZhiZi=False
# Fuzzy Chi Ci
# Available Value:
# True False
#FuzzyChiCi=False
# Fuzzy Shi Si
# Available Value:
# True False
#FuzzyShiSi=False
# Fuzzy An Ang
# Available Value:
# True False
#FuzzyAnAng=False
# Fuzzy On Ong
# Available Value:
# True False
#FuzzyOnOng=False
# Fuzzy En Eng
# Available Value:
# True False
#FuzzyEnEng=False
# Fuzzy In Ing
# Available Value:
# True False
#FuzzyInIng=False
# Fuzzy Eng Ong
# Available Value:
# True False
#FuzzyEngOng=False
# Fuzzy Ian Iang
# Available Value:
# True False
#FuzzyIanIang=False
# Fuzzy Uan Uang
# Available Value:
# True False
#FuzzyUanUang=False
# Fuzzy Ne Le
# Available Value:
# True False
#FuzzyNeLe=False
# Fuzzy Fo He
# Available Value:
# True False
#FuzzyFoHe=False
# Fuzzy Le Ri
# Available Value:
# True False
#FuzzyLeRi=False
# Fuzzy Ke Ge
# Available Value:
# True False
#FuzzyKeGe=False
# AutoCorrect gn ng
# Available Value:
# True False
#AutoCorrectinggnng=True
# AutoCorrect Uen Un
# Available Value:
# True False
#AutoCorrectingUenUn=False
# AutoCorrect Img Ing
# Available Value:
# True False
#AutoCorrectingImgIng=False
# AutoCorrect Iou Iu
# Available Value:
# True False
#AutoCorrectingIouIu=False
# AutoCorrect Uei Ui
# Available Value:
# True False
#AutoCorrectingUeiUi=False

